*{
    box-sizing: border-box;
}
bode{
    margin: 0;
}
header{
    background-color: orange;
    padding: 70px 50px;
    display: flex;
    justify-content: center;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    width: 92%;
    border: 1px solid black;
}
.cards{
    display: flex;
    justify-content: center;
    /* column-gap: 50px; */
    padding-top: 50px;
    width: 92%;
    margin: 0 auto;
    flex-wrap: wrap;

}
.card-block{
    width: 31.4%;
    padding: 50%;
    text-align: center;
    background-color: orange;
}