body{
    background-color: rgb(111, 155, 237);
}
h1{
 color: aliceblue;
 text-align: center;
}
h2{
    color: aliceblue;
    text-align: left;
}
form{
    color: aliceblue;
}

input{
    background-color: aliceblue;
    color: black;
}
