*{
    box-sizing: border-box;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.inter-extra-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body{
    background-image: url(img/Netflix.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1117px;
    margin: 0 auto;
}
header{
    padding: 42px 33px 118px 40px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.logo-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-text{
    color: rgb(200, 200, 200);
}
.logo-text span{
    padding-left: 23px;
    margin-left: 56px;
    border-left:  3px solid rgb(200, 200, 200);
}

.fa-solid{
    margin-right: 19px;
    color: rgb(255, 255, 255);
}
.search-avatar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
main{
    width: 100%;
    height: auto;
}
.content-wrapper{
    width: 57%;
    height: auto;
    color: rgb(255, 255, 255);
    padding: 0px 0px 25px 80px;
}
.genre{
    display: flex;
    flex-direction: row;
}
.name{
    font-size: 64px;
    width: 580px;
    letter-spacing: 5.5%;
}
.information{
    display: flex;
    flex-direction: row;
}
.gray{
    color: rgb(167, 166, 166);
}
.text{
    padding-left: 10px;
}
h2 span{
    padding-left: 10px;
    margin-left: 10px;
    border-left:  3px solid rgb(200, 200, 200);
}
.description{
    width: 700px;
    height: auto;
    font-size: 24px;
}
.stars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 49px 0 60px 0;
    width: 212px;
    height: 34px;
}
.star{
    width: 31px;
    height: 31px;
}
.yellow-star{ 
   color: rgb(255, 234, 43);
}
.white-star{
    color: rgb(255, 255, 255);
}

.yellow-star::after{
    padding-left: 5px;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 634px;
}
.stream{
    width: 272px;
    height: 64px;
    font-size: 22px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(213, 13, 31);
    background: rgb(213, 13, 31);
}
.all{
    width: 271px;
    height: 64px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: transparent;
}
.popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular h2{
    font-size: 22px;
    letter-spacing: 13.5%;
    color: rgb(255, 255, 255);
}
.circles{
    display: flex;
    justify-content: space-between;
    width: 103px;
}
.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(167, 166, 166);
    background-color: transparent;
}
.popular-w{
    width: 57%;
    height: auto;
    padding: 0 0 40px 80px;
}
.chevron{
    margin: 18px 10px 10px 10px;
    color: rgb(167, 166, 166);
}
.circle:hover .chevron{
    color: rgb(255, 255, 255);
}
.circle:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
}
.images{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sixteen{
    top: 950px;
    right: 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.sixteen-red{
    width: 33px;
    height: 66px;
    background-color: rgb(213, 13, 31);
}
.sixteen-gray{
    width: 141px;
    height: 66px;
    padding-right: 36px;
    background: rgba(255, 255, 255, 0.49);
    border: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
}
